In [ ]:
import pandas as pd

temp = [42, 29, 33, 21, 26, 19, 31]
day = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday","sunday"]

temp_series = pd.Series(temp, index=day)
print("Temparature Series: ")
print(temp_series)
print("-"*20)

temp_avg = temp_series.mean()
print(f"Average temperature: {temp_avg:.2f}")

print(f"Max: {temp_series.max()}°C on {temp_series.idxmax()}")
print(f"Min: {temp_series.min()}°C on {temp_series.idxmin()}")

threshold = int(input("Enter threshold temperature: "))
print(f"Temperatures > {threshold}°C:")
print(temp_series[temp_series > threshold])

temp_fahrenheit = (temp_series * 9/5) + 32
print("Temperatures in Fahrenheit:")
print(temp_fahrenheit)

print("Days above average temperature:")
print(temp_series[temp_series > temp_series.mean()].index.tolist())

Temparature Series:
monday       42
tuesday      29
wednesday    33
thursday     21
friday       26
saturday     19
sunday       31
dtype: int64
--------------------
Average temperature: 28.71
Max: 42°C on monday
Min: 19°C on saturday
Temperatures > 54°C:
Series([], dtype: int64)
Temperatures in Fahrenheit:
monday       107.6
tuesday       84.2
wednesday     91.4
thursday      69.8
friday        78.8
saturday      66.2
sunday        87.8
dtype: float64
Days above average temperature:
['monday', 'tuesday', 'wednesday', 'sunday']

In [8]:
import pandas as pd;

data = {
    "Roll Number":[100,101,102,103,104,105,106,107,108,109],
    "Name":["Tom","John","Bacon","Pinky","Alisa","Bobby","Alexa","Jim","Panda","Timmy"],
    "Gender":["M","M","F","F","F","M","F","M","M","M"],
    "Marks1":[76,93,35,63,58,96,31,99,67,86],
    "Marks2":[46,83,79,32,12,35,67,87,97,46],
    "Marks3":[94,38,65,93,83,15,83,56,85,53]
        }

df = pd.DataFrame(data)
df["Total Marks"] = df["Marks1"] + df["Marks2"] + df["Marks3"]

print("DataFrame with total marks:")
print("~"*60)
print(df)
print("\n"+"~"*60+"\n")

lowest_marks = df["Marks1"].min()
print(f"Lowest marks in Marks1: {lowest_marks}\n")

highest_marks = df["Marks2"].max()
print(f"Highest maeks in Marks2: {highest_marks}\n")

avg_marks = df["Marks3"].mean()
print(f"Average marks in Marks3: {avg_marks:.2f}\n")

avg = df[["Marks1","Marks2","Marks3"]].mean(axis = 1)
highest_student = df.loc[avg.idxmax(), "Name"]
print(f"Student with highest average: {highest_student}\n")

failed = (df["Marks2"]<40).sum()
print(f"Number of students failed in Marks2: {failed}\n")

DataFrame with total marks:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Roll Number   Name Gender  Marks1  Marks2  Marks3  Total Marks
0          100    Tom      M      76      46      94          216
1          101   John      M      93      83      38          214
2          102  Bacon      F      35      79      65          179
3          103  Pinky      F      63      32      93          188
4          104  Alisa      F      58      12      83          153
5          105  Bobby      M      96      35      15          146
6          106  Alexa      F      31      67      83          181
7          107    Jim      M      99      87      56          242
8          108  Panda      M      67      97      85          249
9          109  Timmy      M      86      46      53          185

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Lowest marks in Marks1: 31

Highest maeks in Marks2: 97

Average marks in Marks3: 66.50

Student with highest average: Panda

Number of students failed in Marks2: 3